---
import Image from "astro/components/Image.astro";
import plus from "#assets/icons/plus.svg";

const { mainHeading, items } = Astro.props;
---

<div>
  <h2
    class="font-neueroman text-3xl text-secondary max-w-[1500px] text-center mx-auto py-10"
  >
    {mainHeading}
  </h2>
  <ul>
    {
      items.map((item) => (
        <li class=" border-t border-secondary/40 text-secondary py-3 flex flex-col gap-5 last:border-b last:border-secondary/40">
          <h4 class="font-neueroman flex flex-row justify-between text-2xl py-3">
            {item.title}
            <Image src={plus} alt="plus icon" />
          </h4>
          <p class="font-neuelight text-lg p-2">{item.description}</p>
        </li>
      ))
    }
  </ul>
</div>
