<section
  class="grid lg:grid-cols-2 gap-16 py-16 px-5 lg:px-10 max-w-[1500px] mx-auto"
>
  <div class="flex flex-col gap-16">
    <h3
      class="uppercase text-center lg:text-left font-lemonmilk text-3xl md:text-5xl"
    >
      Get In Touch
    </h3>
    <p class="text-lg xl:text-xl 2xl:text-2xl font-neuelight">
      If you would like to contact us, please use the form below or email:
      <a
        href="mailto:enquiries.kncadvocates@outlook.com"
        class="underline hover:scale-105 hover:text-secondary/70 focus:text-tertiary/70 active:text-tertiary"
        >enquiries.kncadvocates@outlook.com</a
      >
    </p>
    <p class="text-lg xl:text-xl 2xl:text-2xl font-neuelight">
      By sending an enquiry you accept our <a
        href="/privacy-policy"
        class="underline hover:scale-105 hover:text-secondary/70 focus:text-tertiary/70 active:text-tertiary"
        >Privacy Policy</a
      >.
    </p>
  </div>

  <form class="flex basis-1/2 flex-col gap-5 text-secondary font-neuelight">
    <label for="name" class="block text-lg">Name</label>
    <input
      type="text"
      name="name"
      id="name"
      class="w-full border-b-2 border-secondary p-2"
    />
    <label for="name" class="block text-lg">Phone</label>
    <input
      type="text"
      name="name"
      id="name"
      class="w-full border-b-2 border-secondary p-2"
    />

    <label for="email" class="block text-lg">Email</label>
    <input
      type="email"
      name="email"
      id="email"
      class="w-full border-b-2 border-secondary p-2"
    />

    <label for="message" class="block text-lg">Message</label>
    <textarea
      name="message"
      id="message"
      class="w-full border-2 border-secondary p-2"></textarea>

    <button
      type="submit"
      class="w-full hover:bg-secondary/90 bg-secondary text-primary px-4 py-3"
    >
      Send Enquiry
    </button>
  </form>
</section>
<style>
  input {
    border: none; /* Remove all borders */
    border-bottom: 1px solid #1e1e1e; /* Only add a bottom border */
    padding: 8px;
    transition:
      border-color 0.3s ease,
      box-shadow 0.3s ease;
    background: transparent;
  }

  input:focus {
    border-bottom: 1px solid #bdc5c4; /* Change bottom border color on focus */
    outline: none;
  }

  input:hover {
    border-bottom: 1px solid #a9adac; /* Change bottom border color on hover */
  }

  input:hover {
    border-bottom: 1px solid #a9adac; /* Change bottom border color on hover */
  }

  input:focus:not(:placeholder-shown) {
    border-bottom: 1px solid #f1c25d;
  }

  /* Full box border for textarea (message field) */
  textarea {
    border: 1px solid #1e1e1e; /* Full box border */
    padding: 8px;
    transition:
      border-color 0.3s ease,
      box-shadow 0.3s ease;
    background: transparent;
  }

  textarea:focus {
    border: 1px solid #a9adac; /* Change border color on focus */
    outline: none;
  }

  textarea:hover {
    border: 1px solid #a9adac; /* Change border color on hover */
  }

  textarea:focus:not(:placeholder-shown) {
    border: 1px solid #f1c25d;
  }
</style>
