---
import Image from "astro/components/Image.astro";
import imageOptimizer from "#lib/imageOptimizer";

interface Props {
  name: string;
  image: {
    src: any;
    alt: string;
  };
}
const { name, image } = Astro.props;
---

<li class="h-[500px] relative overflow-hidden group">
  <Image
    src={imageOptimizer(image.src, 800, 800)}
    alt={image.alt}
    width={128}
    height={128}
    class="w-full h-full object-cover aspect-video object-center group-hover:scale-105 transition-transform duration-1000"
  />

  <h4
    class="w-full absolute bottom-0 backdrop-blur-lg bg-secondary/30 text-primary text-center text-xl font-neuelight py-5 transform translate-y-[100%] group-hover:translate-y-0 transition-transform duration-300"
  >
    {name}
  </h4>
</li>
