---
export interface serviceProps {
  title: string;
  href: string;
  image: {
    src: any;
    alt: string;
  };
}

const { title, href, image } = Astro.props as serviceProps;
---

<li
  class="font-neuelight text-primary border hover:border-secondary hover:bg-primary aspect-square grid place-content-center p-10 text-2xl 2xl:text-4xl text-center active:border-tertiary focus:border-tertiary transition-all duration-500 ease-in-out relative overflow-hidden group"
>
  <!-- Background image with filter -->
  <div
    class="absolute inset-0 bg-cover bg-center z-0 brightness-50 group-hover:scale-110 transition-transform duration-700"
    style={`background-image: url(${image.src});`}
    aria-hidden="true"
  >
  </div>

  <!-- Text content -->
  <a href={`/services/${href}`} class="relative z-10">
    {title}
  </a>
</li>
