---
export interface serviceProps {
  title: string;
  href: string;
}

const { title, href } = Astro.props as serviceProps;
---

<li
  class="font-neuelight bg-secondary text-primary border hover:border-secondary hover:bg-primary hover:text-secondary aspect-square grid place-content-center p-10 text-2xl 2xl:text-4xl text-center active:border-tertiary focus:border-tertiary transition-all duration-500
  ease-in-out"
>
  <a href={`/services/${href}`}> {title}</a>
</li>
