---
import Arrow from "./Arrow.astro";

const { title } = Astro.props;
---

<li
  class="font-lemonmilk bg-secondary text-primary grid place-content-center h-[40vh] p-10 text-3xl 2xl:text-4xl text-center gap-16"
>
  {title}

  <Arrow />
</li>
