---
import Arrow from "./Arrow.astro";

const { title } = Astro.props;
---

<li
  class="font-lemonmilk bg-secondary text-primary flex flex-col justify-around min-h-[40vh] p-20 text-3xl 2xl:text-5xl text-center"
>
  {title}

  <Arrow strokeColor="#F1C25D" />
</li>
