---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<section
  class="border-y-[40px] border-secondary grid place-content-center text-2xl lg:text-3xl 2xl:text-4xl capitalize py-16 md:py-24 px-5 leading-relaxed"
>
  <h3 class="max-w-[40ch] text-center font-neueromanitalic">{text}</h3>
</section>
