---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<section
  class="border-y-[40px] border-secondary grid place-content-center text-xl lg:text-2xl 2xl:text-3xl capitalize py-16 px-5 leading-relaxed"
>
  <h3 class="max-w-[40ch] text-center font-neueroman">{text}</h3>
</section>
