---
import SectionHeader from "#components/Shared/SectionHeader.astro";
import Service from "#components/Shared/ServiceCard.astro";
import InsightSection from "#components/Home/InsightSection.astro";
import PeopleSection from "#components/Home/PeopleSection.astro";
import contentfulClient from "#lib/contentfulClient.ts";

export async function getStaticPaths({ paginate }: any) {
  const entries = await contentfulClient.getEntries({
    content_type: "service",
  });

  const services = entries.items as any;

  return paginate(services, {
    pageSize: 12,
  });
}

const { page } = Astro.props as any;
---

<SectionHeader
  title="Services"
  description="At Kinyanjui Njeru & Co Advocates, our people are at the heart of everything we do. We believe that when our lawyers are fulfilled in their work, they deliver the best results for our clients. That’s why we built Kinyanjui Njeru & Co Advocates—to empower ambitious legal professionals with a platform that supports their career growth while ensuring clients receive top-tier legal services. In an industry driven by relationships, having a team that shares our expertise and values makes all the difference."
  subtitle="Exceptional law requires exceptional services."
>
  <section class="container mx-auto px-4 py-10 max-w-[1500px]">
    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-16">
      {
        page.data.map((o) => (
          <Service title={o.fields.title} href={o.fields.slug} />
        ))
      }
    </ul>
  </section>

  <div
    class="overflow-x-visible w-screen pt-10 relative left-1/2 -translate-x-1/2"
  >
    <InsightSection />
    <PeopleSection />
  </div>
</SectionHeader>
