---
import Layout from "src/layouts/Layout.astro";
import ContactForm from "#components/Shared/ContactForm.astro";
---

<Layout title="contacts" description="contacts" type="website" image="">
  <main>
    <ContactForm />
  </main>
</Layout>
