---
import Layout from "src/layouts/Layout.astro";
import ContactForm from "#components/Shared/ContactForm.astro";
import Navbar from "#components/Navbar/Navbar.astro";
---

<Layout title="contacts" description="contacts" type="website" image="">
  <main class="pt-20">
    <ContactForm />
  </main>
</Layout>
