---
import Layout from "../layouts/Layout.astro";
import HeroSection from "#components/Home/HeroSection.astro";
---

<Layout
  title="Kinyanjui Njeru & Co Advocates"
  description="Your Trusted Legal Partner in Kenya"
  type="website"
  image=""
>
  <main>
    <HeroSection />
  </main>
</Layout>
