---
import Layout from "../layouts/Layout.astro";
import HeroSection from "#components/Home/HeroSection.astro";
import TextDivideSection from "#components/Shared/TextDivideSection.astro";
import ServiceSection from "#components/Home/ServiceSection.astro";
import PeopleSection from "#components/Home/PeopleSection.astro";
import InsightSection from "#components/Home/InsightSection.astro";
---

<Layout
  title="Kinyanjui Njeru & Co Advocates"
  description="Your Trusted Legal Partner in Kenya"
  type="website"
  image=""
>
  <main>
    <HeroSection />
    <TextDivideSection
      text="Tailored legal solutions with integrity and professionalism."
    />
    <ServiceSection />
    <TextDivideSection
      text="Let us handle your legal matters with care and expertise."
    />
    <PeopleSection />
    <InsightSection />
  </main>
</Layout>
