---
import Layout from "../layouts/Layout.astro";
import HeroSection from "#components/Home/HeroSection.astro";
import TextDivideSection from "#components/Shared/TextDivideSection.astro";
---

<Layout
  title="Kinyanjui Njeru & Co Advocates"
  description="Your Trusted Legal Partner in Kenya"
  type="website"
  image=""
>
  <main>
    <HeroSection />
    <TextDivideSection
      text="Tailored legal solutions with integrity and professionalism."
    />
  </main>
</Layout>
