---
import Layout from "../layouts/Layout.astro";
import HeroSection from "#components/Home/HeroSection.astro";
import TextDivideSection from "#components/Shared/TextDivideSection.astro";
import ServiceSection from "#components/Home/ServiceSection.astro";
import PeopleSection from "#components/Home/PeopleSection.astro";
import InsightSection from "#components/Home/InsightSection.astro";
import ContactForm from "#components/Shared/ContactForm.astro";
---

<Layout
  title="Kinyanjui Njeru & Co Advocates"
  description="Your Trusted Legal Partner in Kenya"
  type="website"
  image="https://i.postimg.cc/1XcQr7cz/logo-large.png"
  navIsTransparent={true}
>
  <main>
    <HeroSection />
    <TextDivideSection
      text="Legal solutions tailored with Integrity and Professionalism"
    />
    <ServiceSection />
    <TextDivideSection
      text="Handling your legal matters with Care, Expertise and Excellence"
    />
    <PeopleSection />
    <InsightSection />
    <ContactForm />
  </main>
</Layout>
