---
import Image from "astro/components/Image.astro";
import background from "#assets/images/background.png";
---

<section
  class="brightness-75"
  style={{
    backgroundImage: `url(${background.src})`,
    backgroundSize: "cover",
    backgroundPosition: "center",
    backgroundRepeat: "no-repeat",
    height: "110vh",
  }}
>
</section>
