---
import Person from "#components/Shared/Person.astro";
import Image from "astro/components/Image.astro";
import ArrowStraight from "#assets/icons/arrow-straight.svg";
import contentfulClient from "#lib/contentfulClient";

const entries = await contentfulClient.getEntries({
  content_type: "person",
  limit: 2,
});

const people = entries.items as any;
---

<section
  class="grid lg:grid-cols-3 gap-y-16 lg:gap-x-16 py-20 px-5 lg:px-10 max-w-[1500px] mx-auto"
>
  <div class="flex flex-col gap-10">
    <h2
      class="text-center lg:text-left text-3xl md:text-5xl font-bold font-neuelight"
    >
      People
    </h2>

    <p
      class="text-lg xl:text-xl 2xl:text-2xl text-center lg:text-left font-neuelight mb-8 text-gray-700"
    >
      Our team comprises seasoned advocates with a proven track record in
      diverse areas of law.
    </p>
    <a
      href="/people/1"
      class="w-full bg-secondary font-neuelight flex flex-row-reverse gap-3 justify-between text-primary px-6 py-5 hover:bg-secondary/90"
    >
      <Image
        src={ArrowStraight}
        alt="Arrow icon"
        class="transform active:translate-x-2"
      />

      Meet Our People</a
    >
  </div>
  <ul class="lg:col-span-2 grid sm:grid-cols-2 gap-10 content-center">
    {
      people.map((o) => (
        <Person
          name={o.fields.name}
          image={{
            src: o.fields.image.fields.file.url,
            alt: o.fields.image.fields.title,
          }}
        />
      ))
    }
  </ul>
</section>
