---
import placeholderPerson1 from "#assets/images/woman-placeholder-1.png";
import placeholderPerson2 from "#assets/images/woman-placeholder-2.png";
import Arrow from "#components/Shared/Arrow.astro";
import Person from "#components/Shared/Person.astro";
const people = [
  {
    name: "Joyce Nderu",
    image: placeholderPerson1,
  },
  {
    name: "Joyce Nderu",
    image: placeholderPerson2,
  },
];
---

<section
  class="grid lg:grid-cols-3 gap-y-16 lg:gap-x-16 py-20 px-5 lg:px-10 max-w-[1500px] mx-auto"
>
  <div class="">
    <h2
      class="text-center lg:text-left text-3xl md:text-5xl font-bold uppercase mb-12 md:mb-20 font-lemonmilk"
    >
      People
    </h2>

    <p
      class="text-lg xl:text-xl 2xl:text-2xl text-center lg:text-left font-neuelight"
    >
      Our team comprises seasoned advocates with a proven track record in
      diverse areas of law.
    </p>
  </div>
  <ul class="col-span-2 grid sm:grid-cols-2 gap-10 content-center">
    {people.map((person) => <Person name={person.name} image={person.image} />)}
  </ul>
</section>
