---
// src/sections/Services.astro
import Service from "../Shared/Service.astro";

const services = [
  { title: "Competition & Consumer", href: "competition-and-consumer" },
  { title: "Corporate & Finance", href: "corporate-and-finance" },
  { title: "Corporate Governance", href: "corporate-governance" },
];
---

<section class="container mx-auto px-4 py-20 md:py-24">
  <h2
    class="text-center text-3xl md:text-5xl font-bold uppercase mb-12 md:mb-20 font-lemonmilk"
  >
    Services
  </h2>

  <ul class="grid lg:grid-cols-3 gap-16">
    {
      services.map((service) => (
        <Service title={service.title} href={service.href} />
      ))
    }
  </ul>
</section>
