---
import { links } from "#components/Navbar/Navbar.astro";
import Navlink from "#components/Navbar/Navlink.astro";
import logo from "#assets/icons/logo.svg";
import Image from "astro/components/Image.astro";
import linkedin from "#assets/icons/linked-in.png";
---

<footer class="bg-secondary text-primary py-16 px-20">
  <section
    class="flex flex-col sm:flex-row gap-10 sm:justify-between max-w-[1500px] mx-auto px-5 sm:px-10 items-center sm:items-start text-center"
  >
    <div
      class="text-md xl:text-lg 2xl:text-xl font-neuelight flex flex-col gap-4"
    >
      <p>Nairobi, Kenya</p>
      <a href="tel:++254726415263">+254-726-415263</a>
    </div>
    <div
      class="flex flex-col-reverse items-center md:flex-row md:items-end gap-10"
    >
      <nav>
        <ul class="flex flex-col gap-4 mr-0">
          {
            links.map((l) => (
              <li>
                <Navlink title={l.title} href={l.href} />
              </li>
            ))
          }
        </ul>
      </nav>
      <a href=""><Image src={linkedin} alt="linkedlogo" class="w-6" /></a>
    </div>
  </section>

  <section
    class="flex lg:max-w-[1500px]flex-col lg:flex-row px-auto items-center justify-start 3xl:justify-center mt-16 text-center"
  >
    <Image src={logo} alt="Company logo" class="w-44 hidden lg:block" />
    <div
      class="flex flex-col md:flex-row gap-5 md:gap-2 w-full md:w-auto text-center justify-center content-center transform md:translate-x-56"
    >
      <p class="text-xs xl:text-sm 2xl:text-md font-neuelight">
        Copyright © <span id="current-year">0</span> Kinyanjui Njeru & Co Advocates
      </p>
      <p class="hidden md:block transform -translate-y-1/4">.</p>
      <a
        href="/privacy-policy"
        class="text-primary font-neuelight text-xs xl:text-sm 2xl:text-md"
        >Privacy Policy</a
      >
    </div>
  </section>
</footer>

<script is:inline>
  document.getElementById("current-year").textContent =
    new Date().getFullYear();
</script>
