---
import { SEO } from "astro-seo";
import Navbar from "#components/Navbar/Navbar.astro";
import Footer from "./Footer.astro";

interface Props {
  title: string;
  description: string;
  type: "website" | "article" | "profile";
  image: string;
}

const { title, description, type, image } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: title,
          type: type,
          image: image,
        },
      }}
    />
  </head>
  <Navbar />
  <body>
    <slot />
  </body>
  <Footer />
</html>
<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @font-face {
    font-family: "worksans";
    src: url("/fonts/work_sans/WorkSans-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "lemonmilk";
    src: url("/fonts/lemon_milk/LemonMilk.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "neueblack";
    src: url("/fonts/NeueHaasDisplayBlack.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "neuelight";
    src: url("/fonts/NeueHaasDisplayLight.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "neueroman";
    src: url("/fonts/NeueHaasDisplayRoman.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "neuethin";
    src: url("/fonts/NeueHaasDisplayThin.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  * {
    box-sizing: border-box;
    /* border: 1px solid red; */
  }
  body {
    @apply bg-primary;
  }
</style>
